<ion-app>

  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">  
       <ion-menu-button color="dark"></ion-menu-button>   
     </ion-buttons> 
      <ion-title>Admin</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="form">
      <ion-img src="assets/images/logo.jpg"></ion-img>
      <ion-item>
        <ion-input type="file" (click)="createPdf()"></ion-input>
      </ion-item>
      <ion-button color="success" >VALIDER</ion-button>
      <ion-button color="dark" [routerLink]="['/user']">FAIRE UN CALCUL</ion-button>
    </div>
  </ion-content>
</ion-app>


