<ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
       <ion-menu-button color="dark"></ion-menu-button>   
     </ion-buttons> 
      <ion-title>Simulateur RPC</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="form">
      <ion-img src="assets/images/logo.jpg"></ion-img>
      <form>
        <ion-item>
          <ion-input type="text" placeholder="Age (en annee)"></ion-input>
        </ion-item>  
        <ion-item>
          <ion-input type="text" placeholder="Montant du credit"></ion-input>
        </ion-item>  
        <ion-item>
          <ion-input type="text" placeholder="Duree du credit (mois)"></ion-input>
        </ion-item>  
        <ion-item>
          <ion-input type="text" placeholder="Option APF (OUI, NON)"></ion-input>
        </ion-item>  
        <ion-item>
          <ion-input type="text" placeholder="Periodicite (M, T, S, A, U)"></ion-input>
        </ion-item>  
        
        <ion-button color="success" (click)="presentConfirm()">CALCULER</ion-button>

      </form>
    </div>
  </ion-content>