<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SE CONNECTER</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="logo">
    <ion-img src="assets/images/logo.jpg"></ion-img>
  </div>
  <div class="login">
      <ion-item lines="full">
        <ion-input type="text" required><b>Identifiant : </b></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" required><b>Mot de passe : </b></ion-input>
      </ion-item>
      <ion-item lines="none" >
        <ion-button color="success" fill="clear" slot="end">Mot de passe oublié ?</ion-button>
      </ion-item>
      <ion-button color="success" [routerLink]="['/admin']">CONNEXION </ion-button>
  </div>

</ion-content>
